body {
  height: 100%;
  width: 100%;
  background-color: #7EA8DE;
  font-family: sans-serif;
  color: white;
}

h1{

}

#waveContainer {
  position: relative;
  margin-top: 20px;
  background-image: url("/assets/waves.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1000px;
  height: 520px;

}

#pikachu{
  background-image: url("/assets/pikachu.png");
  background-repeat: no-repeat;
  top: 400px;
  left: 0px;
  background-size: 65%;
  height: 100px;
  width: 100px;
}

#gyarados{
  background-image: url("/assets/baddie.png");
  background-repeat: no-repeat;

  bottom: 8%;
  height: 150px;
  width: 100px;
  background-size: 100%;
}


#restart_div{
/*  height: 100%;
  width: 100%;
  background-color: #292929;
  color: white;
  font-size: 40px;
  */
}

#restart{

}

.small_text{
  font-size: 15px;
}

#score_div {
  color: black;
  font-size: 35px;
  width: 150px;
  background-color: white;
  box-shadow: 4px 4px 0px 1px #808080;
}

#help {

}