body {
  height: 100%;
  width: 100%;
  background-color: #7EA8DE;
  font-family: sans-serif;
  color: white;
}



#waveContainer {
  margin-top: 20px;
  background-image: url("/assets/waves.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1000px;
  height: 520px;
  position: absolute;

}

#pikachu {
  background-image: url("/assets/pikachu.png");
  background-repeat: no-repeat;
  top: 400px;
  left: 0px;
  background-size: 65%;
  height: 120px;
  width: 120px;
  position: relative;
  top: 230px;
    /*animation: 2s infinite;
    -webkit-animation: waver 2s infinite; */
}


#gyarados {
  background-image: url("/assets/baddie.png");
  background-repeat: no-repeat;
  bottom: 8%;
  background-size: 100%;
  height: 150px;
  width: 160px;
  position: relative;
  top: 140px;
  left: 140px;
}


#restart_div{
/*  height: 100%;
  width: 100%;
  background-color: #292929;
  color: white;
  font-size: 40px;
  */
}

#restart{

}

.small_text{
  font-size: 15px;
}

#score_div {
  color: black;
  font-size: 35px;
  width: 150px;
  background-color: white;
  box-shadow: 4px 4px 0px 1px #808080;
}

#help {

}