body {
  height: 100%;
  width: 100%;
  background-color: #7EA8DE;
  font-family: sans-serif;
  color: white;
}

h1 {
  padding-left: 350px;
}

p {
  padding-left: 350px;
}

#waveContainer {
  margin-top: 20px;
  background-image: url("../assets/waves.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1000px;
  height: 520px;
}

#pikachu {
  background-image: url("../assets/pikachu.png");
  background-repeat: no-repeat;
  top: 400px;
  left: 0px;
  background-size: 104%;
  height: 68px;
  width: 72px;
  position: relative;
  top: 230px;
}


#gyarados {
  background-image: url("../assets/baddie.png");
  background-repeat: no-repeat;
  bottom: 8%;
  background-size: 100%;
  height: 150px;
  width: 160px;
  position: relative;
  top: 140px;
  left: 140px;
}


#restart_div {
    height: 88px;
    width: 1000px;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart{
    border: none;
    color: #ECEEF3;
    background-color: #365DA1;
    font-size: 30px;
}

.small_text{
  font-size: 15px;
}

#score_div {
  color: #0C30A6;
  padding: 10px;
  font-size: 35px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 1px #808080;
}
